/* from YUI Font, percentages overcalucalted
/* Example usage: font-size= !14px
!1px = 7.69%
!2px = 15.38%
!3px = 23.08%
!4px = 30.77%
!5px = 38.46%
!6px = 46.15%
!7px = 53.85%
!8px = 61.54%
!9px = 69.23%
!10px = 76.92%
!11px = 84.62%
!12px = 92.31%
!13px = 100.0%
!14px = 107.69%
!15px = 115.38%
!16px = 123.08%
!17px = 130.77%
!18px = 138.46%
!19px = 146.15%
!20px = 153.85%
!21px = 161.54%
!22px = 169.23%
!23px = 176.92%
!24px = 184.62%
!25px = 192.31%
!26px = 200.0%
!27px = 207.69%
!28px = 215.38%
!29px = 223.08%
!30px = 230.77%
!31px = 238.46%
!32px = 246.15%
!33px = 253.85%
!34px = 261.54%
!35px = 269.23%
!36px = 276.92%
!37px = 284.62%
!38px = 292.31%
!39px = 300.0%
!40px = 307.69%
!41px = 315.38%
!42px = 323.08%
!43px = 330.77%
!44px = 338.46%
!45px = 346.15%
!46px = 353.85%
!47px = 361.54%
!48px = 369.23%
!49px = 376.92%
!50px = 384.62%


/* reset from YUI Reset CSS
html 
  color: #000
  background: #fff
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, th, td
  margin: 0
  padding: 0
table
  border-collapse: collapse
  border-spacing: 0
fieldset, img
  border: 0
address, caption, cite, code, dfn, em, strong, th, var
  font-style: normal
  font-weight: normal
li
  list-style: none
caption, th
  text-align: left
h1, h2, h3, h4, h5, h6
  font-size: 100%
  font-weight: normal
q:before, q:after
  content:''
abbr, acronym
  border: 0
  font-variant: normal
sup
  vertical-align: text-top
sub
  vertical-align: text-bottom
input, textarea, select
  font-family: inherit
  font-size: inherit
  font-weight: inherit
input, textarea, select
  *font-size: 100%
legend
  color: #000

/* Font reset from YUI Fonts CSS
body
  font: 13px/1.231 arial,helvetica,clean,sans-serif
  *font-size: small
  *font: x-small
select, input, button, textarea
  font: 90% arial,helvetica,clean,sans-serif
table
  font-size: inherit
  font: 100%
pre, code, kbd, samp, tt
  font-family: monospace
  *font-size: 108%
  line-height: 100%

/* Base font from YUI Base CSS (with some changes)
h1
  font-size = !18px
  font-weight: bold
  margin: 1em 0
h2
  font-size = !16px
  font-weight: bold
  margin: 1em 0
h3
  font-size = !16px
  font-weight: bold
  margin: 1em 0
h4
  font-weight: bold
h5
  font-weight: bold
h6
  font-weight: bold
strong
  font-weight: bold
abbr
  border-bottom: 1px dotted #000
acronym
  border-bottom: 1px dotted #000
em
  font-style: italic
blockquote
  margin: 1em
ol
  margin: 1em
  margin-left: 2em
ul
  margin: 1em
  margin-left: 2em
dl
  margin: 1em
  margin-left: 2em
ol li
  list-style: decimal outside
ul li
  list-style: disc outside
dl dd
  margin-left: 1em
table
  margin-bottom: 1em
th
  border: 1px solid #000
td
  border: 1px solid #000
th
  font-weight: bold
  text-align: center
caption
  margin-bottom: .5em
  text-align: center
p
  margin-bottom: 1em
fieldset
  margin-bottom: 1em
pre
  margin-bottom: 1em
input[type=text],input[type=password],textarea
  width:12.25em
  *width:11.9em


/* Grid inpired from Blueprint Grid
body 
  margin: 10px
.container 
  width: 975px
  margin: 0 auto

=column(!n)
  float: left
  margin-right: 10px
  width = !n - 10px

=last-column(!n)
  float: left
  margin-right: 0
  width = !n


/* Basic stuff
body
  # avoid small horizontal movement between short and long pages, where one page has got vertical scroll and another does not.
  overflow-y: scroll


/* Flash messages from Blueprint
=flash
  padding: .8em
  margin-bottom: 1em
  border: 2px solid #ddd
.error
  +flash
  background: #FBE3E4
  border-color: #FBC2C4
  color: #8a1f11
  a
    color: #8a1f11
.notice
  +flash
  background: #FFF6BF
  border-color: #FFD324
  color: #514721
  a
    color: #514721
.success
  +flash
  background: #E6EFC2
  border-color: #C6D880
  color: #264409
  a
    color: #264409
