@import compass/reset.sass
@import yui/modules/fonts.sass
@import blueprint/modules/interaction.sass

/* Base Grid inspired from Blueprint Grid

# You can redefine content width in your sass fail,
# for example add '!containerWidth = 850px'
!containerWidth = 975px

body 
  margin: 10px
.container 
  width = !containerWidth
  margin: 0 auto

// Examples:
//   +column(750px)        # => usual column
//   +column(750px, last)  # => last column
//   +column               # => using containerWidth value, it is also last column. 
//                              Default width value is 975px. You can redefine 
//                              !containerWidth in your application.sass
//
=column(!n = max, !last = false)
  float: left
  @if !n != max
    @if !last
      margin-right: 0px
      width = !n
    @else
      margin-right: 10px
      width = !n - 10px
  @if !n == max
    margin-right: 0px
    width = !containerWidth
